{% extends "base.html" %}
{% load static %}

{% block main %}
<div style="margin: auto; padding: 160px 20px 0 20px; width: 360px;">
    <form method="post" action="/login/">{% csrf_token %}
      <h2>月报产值系统</h2>
      <div class="mdui-textfield">
          <input class="mdui-textfield-input" type="text" name="username" placeholder="用户名"/>
      </div>
      <div class="mdui-textfield">
         <input class="mdui-textfield-input" type="password" name="password" placeholder="密码"/>
      </div>
      <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent" type="submit">登录</button>
    </form>
    <p><a href="{% url 'register' %}" class="mdui-btn mdui-btn-dense mdui-color-pink mdui-ripple">>> 没有账号? 去注册</a></p>
</div>

{% endblock %}