{% extends "base.html" %}
{% load static %}

{% block main %}
{% include 'navbar.html' %}

<div style="margin: auto; padding: 80px 20px 0 20px; ">
    {% include 'status.html' %}
    {% for  bigtype, records in categoryrecord_list.items %}
    <div class="mdui-panel" mdui-panel>
        <div class="mdui-panel-item">
            <div class="mdui-panel-item-header">
                        <div class="mdui-panel-item-title">{{ bigtype }}</div>
                            <div class="mdui-panel-item-summary">
                                <div class="mdui-row">
                                      <div class="mdui-col-xs-6">施工单位:#TODO</div>
                                      <div class="mdui-col-xs-6">当月合同款: {{ records.current_month_contract_price }}</div>
                                      <div class="mdui-col-xs-6">当月工程款: {{ records.current_month_progress_payment }}</div>
                                      <div class="mdui-col-xs-6">合同价款累计: {{ records.accumulative_contract_price }}</div>
                                      <div class="mdui-col-xs-6">实付款: {{ records.accumulative_progress_payment }}</div>
                                      <div class="mdui-col-xs-6">备注</div>
                                </div>
                            </div>
                            <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
        <div class="mdui-panel-item-body">
            <div class="mdui-table-fluid">
              <table class="mdui-table mdui-table-hoverable">
                <thead>
                  <tr>
                    {# <th style="background-color: bisque">工程大项</th> #}
                    <th style="background-color: lightblue">项目名称</th>
                    <th style="background-color: bisque">施工单位<a class="mdui-btn-xs mdui-btn-dense mdui-color-pink mdui-ripple caculate-submit">汇总</a></th>
                    <th>当月合同价款C</th>
                    <th>当月进度款D</th>
                    <th>累计合同价款F</th>
                    <th>累计进度款G</th>
                  </tr>
                </thead>
                <tbody>
                  {% for category, record in records.category_list.items %}
                  <tr>
                    {# <td style="background-color: bisque">{{ record.bigtype.name }}</td> #}
                    <td style="background-color: lightblue">{{ category }}</td>
                    <td style="background-color: bisque">{{ record.caorganization.name }}</td>
                    <td>{{ record.current_month_contract_price }}</td>
                    <td>{{ record.current_month_progress_payment }}</td>
                    <td>{{ record.accumulative_contract_price }}</td>
                    <td>{{ record.accumulative_progress_payment }}</td>
                  </tr>
                {% endfor %}

                </tbody>
              </table>
            </div>

        </div>
        </div>

    </div>
    {% endfor %}
</div>


<script src="https://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>
    $(".caculate-submit").click(function () {
        $.ajax({
            cache: true,
            type: "POST",
            url: "/caculate/by/category/",
            data: '',
            async: true,
            contentType: false,
            processData: false,
            error: function (res) {
                alert(res['msg']);
            },
            success: function (res) {
                if (!res['success']) {
                    alert(res['msg']);
                } else {
                    alert(res['msg']);
                    window.location.href = '/record/list/category/';
                }
            }
        });

    });
</script>

{% endblock %}
