{% extends "base.html" %}
{% load static %}

{% block main %}
{% include 'navbar.html' %}

<div style="margin: auto; padding: 80px 20px 0 20px; width: 600px;">
    <form id="CreateForm" method="post" enctype="multipart/form-data">{% csrf_token %}
        <select class="mdui-select" id="district-select" name="district">
            <option value="district">区域选择</option>
            {% for d in district_list %}
                <option value="{{ d.id }}">{{ d.name }}</option>
            {% endfor %}
        </select>
        <select class="mdui-select" id="district-detail-select" style="margin-left: 20px;" name="district_detail">
            <option value="district-detail">区域明细</option>
        </select>
        <select class="mdui-select" id="organization-select" style="margin-left: 20px;" name="organization">
            <option value="organization">单位</option>
            {% for o in organization_list %}
                <option value="{{ o.id }}">{{ o.name }}</option>
            {% endfor %}
        </select>
        <select class="mdui-select" id="category-select" name="category">
            <option value="category">工程分类</option>
            {% for c in category_list %}
                <option value="{{ c.id }}">{{ c.name }}</option>
            {% endfor %}
        </select>
        <select class="mdui-select" id="project-select" style="margin-left: 20px;" name="project">
            <option value="project">工程名称</option>
        </select>
        <select class="mdui-select" id="measurement-select" style="margin-left: 20px;" name="measurement">
            <option value="measurement">计量单位</option>
            {% for m in measurement_list %}
                <option value="{{ m.id }}">{{ m.name }}</option>
            {% endfor %}
        </select>
        <div class="mdui-textfield mdui-textfield-floating-label">
            <label class="mdui-textfield-label">合同单价</label>
            <input class="mdui-textfield-input" type="text" name="contract_unit_price"/>
        </div>
        <div class="mdui-textfield mdui-textfield-floating-label">
            <label class="mdui-textfield-label">当月工程量</label>
            <input class="mdui-textfield-input" type="text" name="current_month_project_quantities"/>
        </div>
        <div class="mdui-textfield mdui-textfield-floating-label">
            <label class="mdui-textfield-label">付款比例</label>
            <input class="mdui-textfield-input" type="text" name="current_month_project_parameter"/>
        </div>
        <div class="mdui-textfield mdui-textfield-floating-label">
            <label class="mdui-textfield-label">备注</label>
            <textarea class="mdui-textfield-input" type="text" name="remark"></textarea>
        </div>
        <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-pink" type="button"
                id="create-submit">提交</button>
    </form>
</div>

<script>
    $("#district-select").change(function() {
        var districtDetail = $("#district-detail-select");
        $(districtDetail).children().slice(1).remove();
        var districtId = {"districtId": $("#district-select").val()};
        $.get("/search/by/district", districtId, function(res) {
                var districtDetailItem = JSON.parse(res['district_detail_items']);
                var optionHtml ='';
                for (var i=0;i<districtDetailItem.length;i++){
                    optionHtml = optionHtml +
                    '<option value=' + districtDetailItem[i]['id'] + '>' + districtDetailItem[i]['name'] + '</option>'
                }
                $("#district-detail-select").append(optionHtml);
        })
    });
    $("#category-select").change(function() {
        var projects = $("#project-select");
        $(projects).children().slice(1).remove();
        var categoryId = {"categoryId": $("#category-select").val()};
        $.get("/search/by/category", categoryId, function(res) {
                var projectItem = JSON.parse(res['project_items']);
                var optionHtml ='';
                for (var i=0;i<projectItem.length;i++){
                    optionHtml = optionHtml +
                    '<option value=' + projectItem[i]['id'] + '>' + projectItem[i]['name'] + '</option>'
                }
                $("#project-select").append(optionHtml);
        })
    });
    $("#create-submit").click(function () {
        var uploadFormData = new FormData($('#CreateForm')[0]);
        $.ajax({
            cache: true,
            type: "POST",
            url: "/create/record/",
            data: uploadFormData,
            async: true,
            contentType: false,
            processData:false,
            error: function(res) {
                alert(res['msg']);
            },
            success: function(res) {
                if(!res['success']){
                    alert(res['msg']);
                }else{
                    alert(res['msg']);
                    window.location.href = "/record/list/";
                }
            }
        });
    });
</script>

{% endblock %}
