{% extends "base.html" %}
{% load static %}

{% block main %}
{% include 'navbar.html' %}

<div style="margin: auto; padding: 80px 20px 0 20px; ">
    {% include 'status.html' %}
    <a href="{% url 'create_record' %}" class="mdui-btn mdui-btn-dense mdui-color-pink mdui-ripple">添加</a>
    <!-- <a href="{% url 'edit_parameter' %}" class="mdui-btn mdui-btn-dense mdui-color-pink mdui-ripple">设置D的计算所用比率</a>
    <span>当前：D = C * {{ parameter.ratio }}</span> -->
    <a href="{% url 'record_list_category' %}" class="mdui-btn mdui-btn-dense mdui-color-pink mdui-ripple">查看按工程分类汇总</a>
    <a href="{% url 'record_list_district_detail' %}" class="mdui-btn mdui-btn-dense mdui-color-pink mdui-ripple">查看按区域明细汇总</a>
    <a href="{% url 'record_list_district' %}" class="mdui-btn mdui-btn-dense mdui-color-pink mdui-ripple">查看按区域汇总</a>
    <a class="mdui-btn mdui-btn-dense mdui-color-blue mdui-ripple caculate-submit">汇总</a>
    <div class="mdui-table-fluid">
      <table class="mdui-table mdui-table-hoverable">
        <thead>
          <tr>
            <th style="background-color: bisque">项目区域</th>
            <th style="background-color: bisque">区域明细</th>
            <th style="background-color: bisque">工程分类</th>
            <th style="background-color: bisque">工程名称</th>
            <th style="background-color: lightblue">单位名称</th>
            <th>计量单位</th>
            <th class="mdui-table-col-numeric">合同单价A</th>
            <th class="mdui-table-col-numeric">当月工程量B</th>
            <th class="mdui-table-col-numeric">当月合同价款C</th>
            <th class="mdui-table-col-numeric">当月进度款D</th>
            <th class="mdui-table-col-numeric">累计工程量E</th>
            <th class="mdui-table-col-numeric">累计合同价款F</th>
            <th class="mdui-table-col-numeric">累计进度款G</th>
            <th>备注</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
        {% for record in record_list %}
          <tr>
            <td style="background-color: bisque">{{ record.district.name }}</td>
            <td style="background-color: bisque">{{ record.district_detail.name }}</td>
            <td style="background-color: bisque">{{ record.category.name }}</td>
            <td style="background-color: bisque">{{ record.project.name }}</td>
            <td style="background-color: lightblue">{{ record.organization.name }}</td>
            <td>{{ record.measurement.name }}</td>
            <td>{{ record.contract_unit_price }}</td>
            <td>{{ record.current_month_project_quantities|floatformat:2 }}</td>
            <td>{{ record.current_month_contract_price|floatformat:2  }}</td>
            <td>{{ record.current_month_progress_payment|floatformat:2  }}</td>
            <td>{{ record.accumulative_project_quantities|floatformat:2  }}</td>
            <td>{{ record.accumulative_contract_price|floatformat:2  }}</td>
            <td>{{ record.accumulative_progress_payment|floatformat:2  }}</td>
            <td>{{ record.remark }}</td>
            <td>
                <a class="mdui-btn mdui-btn-dense mdui-color-pink mdui-ripple delete-submit" id="{{ record.id }}">删除</a>
                <a href="{% url 'edit_record' record.id %}" class="mdui-btn mdui-btn-dense mdui-ripple mdui-color-blue edit-record">编辑</button>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <div class="mdui-dialog" id="edit-dialog">
      </div>
    </div>
</div>


<script src="https://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>
    $(".delete-submit").click(function () {
        item = $(this);
        var record_id = $(this).attr("id");
        var formData = new FormData();
        formData.append('record_id', record_id);
        if (confirm('确认要删除该条目？')) {
            $.ajax({
                cache: true,
                type: "POST",
                url: "/delete/record/",
                data: formData,
                async: true,
                contentType: false,
                processData: false,
                error: function (res) {
                    alert(res['msg']);
                },
                success: function (res) {
                    if (!res['success']) {
                        alert(res['msg']);
                    } else {
                        item.closest("tr").remove();
                    }
                }
            });
        }
    });

    $(".caculate-submit").click(function () {
            $.ajax({
            cache: true,
            type: "POST",
            url: "/caculate/",
            data: '',
            async: true,
            contentType: false,
            processData: false,
            error: function (res) {
                alert(res['msg']);
            },
            beforeSend: function() {
                mdui.alert("正在汇总，请勿刷新...");
            },
            success: function (res) {
                if (!res['success']) {
                    mdui.alert(res['msg']);
                } else {
                    mdui.alert(res['msg']);
                    window.location.href = '/record/list/district/';
                }
            },
        });
    });


</script>


{% endblock %}
